button{
    margin-top:2em;
    border:0px;
    padding:1em;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.bg-white{
    background-color: white;
    color:#505264;
  }
.bg-white > button{
    background: linear-gradient(to right, #9fa6ee, #6c6fd8);    
    color:white;
    
  }

.bg-purple{
    background: linear-gradient(to right bottom, #9fa6ee, #6c6fd8);
    color:white;
}
.bg-purple > button{
    background-color: white;
    color:#6c6fd8;
}
    
.card{
    padding:2em;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px 10px #e0e0f4;
    
}
.card > h1{
    font-size: 3em;
}
.text-small{
    font-size: 0.6em;
    vertical-align: 0.2em;
}
@media only screen and (min-width: 1100px) {
    .card{
        width: 40vw;
    }
    .bg-white{
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .bg-purple{
        z-index: 2;
    }
  }